.cocktail-img {
  height: 100%;
  border-right: 2px solid;
}

.image {
  min-width: 100%;
  height: 100%;
  object-fit: contain;
}
.cocktail-div {
  display: flex;
  width: 100%;
  margin-top: 40px;
  height: 70%;
  flex-direction: row;
  align-items: flex-start;
  border: 2px solid;
}
.cocktail-info {
  display: flex;
  width: 100%;
  height: 80%;
  flex-direction: column;
  align-items: flex-start;
}

.instructions {
  margin-top: 10px;
  margin-left: 40px;
}


.ingredients {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  border-top: 2px solid;
}