.cocktail-img {
  width: 700px;
  height: 700px;
  border-right: 2px solid;
  object-fit: cover;
}

.image {
  min-width: 100%;
  height: 100%;
  object-fit: contain;
}
.cocktail-div {
  display: flex;
  width: 100%;
  margin-top: 40px;
  height: 80%;
  flex-direction: row;
  align-items: flex-start;
  border: 2px solid;
}
.cocktail-info {
  display: flex;
  width: 100%;
  height: 80%;
  flex-direction: column;
  align-items: flex-start;
}
