body {
  margin: 0;
  background-color: #fbfaf7;
}

.image-div {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("./images/drink-g642e05473_1920.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: auto;
}

.hero-div {
  display: flex;
  min-height: 400px;
  min-width: 50%;
  margin-left: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.hero-info {
  display: flex;
  min-height: 400px;
  min-width: 70%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.heading-2 {
  margin-left: 10px;
  font-family: Bitter, serif;
  color: #fff;
}

.heading-3 {
  margin-left: 10px;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 60px;
}

.button {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-left: 10px;
}

.button:hover,
.button:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.button:active {
  opacity: 0.5;
}

.ingredients {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  border-top: 2px solid;
}

.heading-6 {
  margin-left: 20px;
}
